<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/../images/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/public/bootstrap-5.3.3-dist/css/bootstrap.css">
    <link rel="stylesheet" href="/public/font-awesome/css/all.min.css">
    <link rel="stylesheet" href="/public/styles.css">
    <title>SAM</title>
</head>
<body>
    <div class="layout-container">
        <nav class="navbar navbar-expand-lg navbar-dark position-fixed" id="navbar" style="width: 100%; z-index: 999; top: 0;">
            <div class="container-fluid">
                <a class="navbar-brand d-flex justify-content-between align-items-center" href="#">
                    <img id="logo" src="/images/logo2.png" alt="Logo du site" width="80" height="80" class="d-inline align-top mx-5">
                    <!-- <h1 class="f">Al Moutmir</h1> -->
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/index">Accueil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/actualite">Actualité</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/evenement">Evenement</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Apropos">A Propos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contact">Contact</a>
                        </li>
                    </ul>
                    <div class="d-flex flex-column flex-lg-row align-items-start" id="cnx-theme">
                        <button type="button" class="btn btn-warning py-2 me-2 mb-2 mb-lg-0" id="navigateButton">Déconnexion</button>
                        <div class="dropdown">
                            <button class="btn btn-dark dropdown-toggle" type="button" id="themeDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                Theme
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="themeDropdown">
                                <li>
                                    <a class="dropdown-item d-flex justify-content-between align-items-center" href="#" id="lightMode">
                                        <span>Light Mode</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item d-flex justify-content-between align-items-center" href="#" id="darkMode">
                                        <span>Dark Mode</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        
    <!--------------------------------------FIN NAVBAR-------------------------------------------------------------------------------------------------------->
    <!--------------------------------------CAROUSSEL-------------------------------------------------------------------------------------------------------->
  <div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" style="height: 100vh;">
        <div class="bd-placeholder-img" id="bg-1"></div>
        <div class="container">
          <div class="carousel-caption text-start">
            <h1 class="text-white">Bienvenue Avec OliZen</h1>
            <p class="opacity-75 text-white">La Meilleure plateforme lorsqu'on parle de l'agriculture.</p>
            <p><a class="btn btn-lg btn-primary" href="/contact">Contacter-nous</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item" style="height: 100vh;">
        <div class="bd-placeholder-img" id="bg-2"></div>
        <div class="container">
          <div class="carousel-caption">
            <h1 class="text-white">Stades Phénologiques de l'Olivier.</h1>
            <p class="text-white">Notre page web avec tout ce que vous cherchez à propos le developpement des olives.</p>
            <p><a class="btn btn-lg btn-primary" href="/def">Savoir plus</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item" style="height: 100vh;">
        <div class="bd-placeholder-img" id="bg-3"></div>
        <div class="container">
          <div class="carousel-caption text-end">
            <h1 class="text-white">YouCode</h1>
            <p class="text-white">développer les compétences pour notre avenir.</p>
            <p><a class="btn btn-lg btn-primary" href="https://ouassim-projet1.vercel.app/">Autre site</a></p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
      <!--------------------------------------FIN CAROUSSEL-------------------------------------------------------------------------------------------------------->
</div>
<!-- LA PARTIE FOOTER  -->

    <footer>
        <div class="footer-container">
          <div class="footer-section">
            <h3>À Propos</h3>
            <p>Notre projet se concentre sur l'analyse précise des sols pour aider à une meilleure gestion des terres agricoles et environnementales.</p>
          </div>
          <div class="footer-section">
            <h3>Contact</h3>
            <p><b>Email:</b> youcode@gmail.com</p>
            <p><b>Téléphone:</b> +212 12345678</p>
            <p><b>Adresse:</b> YouCode Safi</p>
          </div>
          <div class="footer-section">
            <h3>Suivez-nous</h3>
            <div class="social-icons">
              <a href="#"><i class="fab fa-facebook-f"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="#"><i class="fab fa-linkedin-in"></i></a>
            </div>
          </div>
        </div>
        <div class="footer-bottom">
          <p>&copy; 2024 SAM. Tous droits réservés.</p>
        </div>
      </footer>
  <!-- FIN DE LA PARTIE FOOTER -->
<script src="/public/bootstrap-5.3.3-dist/js/bootstrap.js"></script>
<script src="/scripts/script.js"></script>
</body>
</html>